<section class="bidForm">
    <header class="header">
        <img src="assets/teeup_logo.png">
        <p>On your time. On your budget.</p>
    </header>

    <div class="error" ng-show="error">
        <h3>No Courses Match Criteria. Take a Mulligan and Try Again!</h3>
    </div>

    <div class="textForm">
        <label for="star">Choose Desired Course Star Rating</label>
        
        <div class="starBox">
            <star-rating-comp size="'large'"on-click="onRatingChange($event)"></star-rating-comp>
        </div>
    </div>

    <div class="windows">
        <div class="windowStart">
            <label for="start">Window Start</label>
            <input type="time" id="start" ng-model="start_time">
        </div>
        <div class="windowEnd">
            <label for="end">Window End</label>
            <input type="time" id="end" ng-model="end_time">
        </div>
    </div>

    <div class="day">
        <label>
            <input type="radio" name="day" value="today" ng-model="selected_day">
            Today
        </label>
        <label>
            <input type="radio" name="day" value="tomorrow" ng-model="selected_day">
            Tomorrow
        </label>
    </div>

    <div class="courseSearch">
        <p>
            <div class="miles">
                <span>Look for courses within</span>
                <input type="number" placeholder="Miles" ng-model="miles">
            </div>

            <div class="loc">
                <span>miles from</span> 
                <input type="text" placeholder="Location" id="locationSearch">
            </div>
        </p>
    </div>

    <div class="golferNum">
        <label for="golfercount">How many in your Group?</label>
        <select id="golfercount" value=""number data-default ng-model="golfer_number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    
    <div class="bidNum">
        <p>
            $ <input type="number" placeholder="Your Bid Amount" ng-model='bid_amount'> / golfer
        </p>
    </div>

    <div class="buttons">
        <button class="bidBtn" ng-click="updateBid()" ng-disabled="!valid">Place Bid</button>


    <a ui-sref="courseDashboard">
        <button class="courseBtn">Are You A Course?</button>
    </a>
</div>


    <popular></popular>

</section>

