<section ng-controller='BidController' class="bidForm">
    <label for="star">Choose Desired Course Star Rating</label>
    <!--<select id="star" ng-model="star_select">
        <option value="1">1+ Star Course</option>
        <option value="2">2+ Star Course</option>
        <option value="3">3+ Star Course</option>
        <option value="4">4+ Star Course</option>
        <option value="5">5+ Star Course</option>
    </select>-->
    <star-rating-comp on-click="onRatingChange($event)"></star-rating-comp>

    <label for="start">Window Start</label>
    <input type="time" id="start" ng-model="start_time">
    <label for="end">Window End</label>
    <input type="time" id="end" ng-model="end_time">
    <label>
        <input type="radio" name="day" value="today" ng-model="selected_day">
        Today
    </label>
    <label>
        <input type="radio" name="day" value="tomorrow" ng-model="selected_day">
        Tomorrow
    </label>
    <p>
        Look for courses within 
        <input type="number" ng-model="miles">miles 
        from <input type="text" placeholder="Location" id="locationSearch">
    </p>
    <label for="golfercount">How many in your Group?</label>
    <select id="golfercount" ng-model="golfer_number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <p>
        $ <input type="number" placeholder="Your Bid Amount" ng-model='bid_amount'> /golfer
    </p>
    <button class="bidBtn" ng-click='submit()'><a ui-sref="userDashboard">Place Bid!</a></button>
</section>
