<section>
    <h2>Step 4: Complete Bid</h2>
    <label for="golfercount">How many in your Group?</label>
    <select id="golfercount" ng-model="golfer_number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <p>
        $ <input type="number" placeholder="Your Bid Amount" ng-model='bid_amount'> /golfer
    </p>
    <footer>
        <a ui-sref="userDashboard">
            <button class="bidBtn" ng-click="updateBid()">Place Bid</button>
        </a>
    </footer>
    
</section>