<section class="courseView">

        <div>
            <h1>The Tradition Golf Course</h1>
        </div>
        <ul>
            <li ng-repeat="booking in bookings">
                <!--<p>{{booking.course.name}}</p>-->
                <p>Tee Time: {{booking.startTime}}</p>
                <p>Number of Golfers: {{booking.golfers}}</p>

            </li>
        </ul> 
        <div>
            <h3>Current Range: ${{range.min}} to ${{range.max}}</h3>
            <p><input type="number" placeholder="Min" ng-model="min_bid"> to <input type="number" placeholder="Max" ng-model="max_bid"></p>
            <button ng-click="changeRange()">Update Acceptable Range</button>
        </div>
        <!--<div>
            <h3>Current Status: Accepting Bookings</h3>
            <button ng-click="changeStatus()">Change Status</button>
        </div>-->
</section>