<section class="courseView">

    <header class="header">
        <img src="assets/teeup_logo.png">
    </header>

    <div class="listBox">
        <div class="courseTitle">
            <h1>The Tradition Golf Course</h1>
        </div>
        
        <div class="list">
            <h3>Tee Times</h3>
        <ul ng-repeat="booking in bookings">
            <p><span class="labeltime"> Time: </span> {{booking.startTime}}</p>
            <p><span class="labelnum"> Number of Golfers: </span> {{booking.golfers}}</p>
        </ul> 
        </div>

        <div class="curRange">
            <h3>Current Range: ${{range.min}} to ${{range.max}}</h3>
            <p><input type="number" placeholder="Min" ng-model="min_bid"> to <input type="number" placeholder="Max" ng-model="max_bid"></p>
            <button ng-click="changeRange()">Update Range</button>
        </div>
    </div>
        <!--<div>
            <h3>Current Status: Accepting Bookings</h3>
            <button ng-click="changeStatus()">Change Status</button>
        </div>-->
</section>
