<section class="time mobileStyle">
    <header>
        <img class="logo" src="assets/teeup_logo.png">
    </header>
    <h2>Step 2: Choose Day & Time</h2>
    <h4>Find a time...</h4>
    <div class="day">
        <label>
            <input type="radio" name="day" value="today" ng-model="selected_day">
            <div></div>
            Today
        </label>
        <label>
            <input type="radio" name="day" value="tomorrow" ng-model="selected_day">
            <div></div>
            Tomorrow
        </label>
    </div>
    <h4>Between...</h4>
    <div class="windowStart window">
        <input type="time" class="timeInput" id="start" ng-model="start_time">
    </div>
    <h1 id="ampersand">&</h1>
    <div class="windowEnd window">
        <input type="time" class="timeInput" id="end" ng-model="end_time">
    </div>
    <footer>
        <a ui-sref="star">
            <button ng-click="updateTime()">Next: Star Rating >></button>
        </a>
    </footer>

</section>