
body {
    background-color: #194BFF;
    color: white;
}



// body {
//     @include grid-row(); 
//     color: white; 
//     background-image: url("http://wallpaper-gallery.net/images/golf-wallpaper-for-iphone/golf-wallpaper-for-iphone-8.jpg");
//     // background-color: green;
//     background-size: 100%; 
//     background-size: cover; 
//     max-width: 100%; 
//     overflow-x: hidden; 
//     background-repeat: no-repeat; 
//     overflow-y: hidden; 
//     max-height: 100%; 
//     font-family: $primary-font;
//     font-weight: bold; 
// }

// header {
//     @include grid-column(12); 
//     width: 100%; 
//     background-color: #484A4A; 
//     background-color: gray; 
//     opacity: .8; 
//     height: 55px; 


//     h1 {
//         // width: 100%; 
//         @include grid-column(5); 
//         margin-top: 1%; 
//         margin-bottom: 1%; 
//         margin-right: 0; 
//         font-size: 2em; 
//         font-family: $header-font;
//     }

//     img {
//         @include grid-column(2); 
//         display: block; 
//         margin: auto; 
//         height: 55px; 
//         width: 55px; 
//         margin-top: 2%;  
//     }

// }

// .footer {
//     @include grid-column(12); 
//     width: 100%; 
//     // background-color: #484A4A; 
//     height: 50px; 
//     margin-top: 20%; 

//         footer {
//         // width: 100%; 
//         text-align: center;
//         margin-top: 0; 
//         margin-bottom: 1%; 
//         margin-right: 33%; 
//         font-size: 1em; 
//     }

// }
