body {
    // background-color: #194BFF;
    // @include grid-row(); 
    background-color: white; 
    color: black;
    font-size: 1.5em; 


// body {
//     @include grid-row(); 
//     color: white; 
//     background-image: url("http://wallpaper-gallery.net/images/golf-wallpaper-for-iphone/golf-wallpaper-for-iphone-8.jpg");
//     // background-color: green;
//     background-size: 100%; 
//     background-size: cover; 
//     max-width: 100%; 
//     overflow-x: hidden; 
//     background-repeat: no-repeat; 
//     overflow-y: hidden; 
//     max-height: 100%; 
//     font-family: $primary-font;
//     font-weight: bold; 
// }



}