.courseView {
    @include grid-row(); 
    background-color: white; 

    section {
        @include grid-column(12);
    }

        .header {
            @include grid-column(12);
            background-color: #3f99de;
            color: white; 
            font-family: $header-font;
            text-align: center; 

            img {
                width: 150px; 
                margin-top: 10px;
            }
        }
    
    .listBox {
        color: black; 
        .courseTitle {
            @include grid-column(12); 
            // width: 100%; 
            text-align: center; 
            font-family: $header-font; 
        }

        .bookingList {
            p {
                @include grid-column(6); 
                // padding: 0; 
                
            }
        }

            .listTitle {
                text-align: center; 
                font-family: $header-font; 
            }

        .list {
            @include grid-column(12); 
            border: 5px solid grey; 
            height: 300px; 
            overflow: scroll; 
            margin-bottom: 30px; 

            p {
            padding-left: 0;  
            font-size: 1em; 
            }

        .labeltime {
            font-weight: bold; 
                   
        }

        .labelnum {
            font-weight: bold;         
        }
        
    }

        .curRange {
            h3 {
                text-align: center; 
            }

                p {
                    width: 100%; 
                    text-align: center; 
                }
                input {
                    width: 75px;
                    border: none; 
                    border-bottom: 2px solid grey; 
                    text-align: center; 
                }
            
            button {
                    display: block; 
                    color: white;
                    font-weight: bolder;
                    font-size: 1em;
                    margin-left: 32%; 
                    margin-top: 20px;
                    border: 1px solid white;
                    border-radius: 50px;
                    width: 40%;
                    text-align: center;
                    height: 50px;
                    font-family: $primary-font;
                    background-color: #29c566;
                    margin-bottom: 2%; 
            }
        }
    } 


    @media (min-width: 426px) {
        @include grid-row(); 

            .listTitle {
                margin-left: 0px;
            }
        .curRange {
            h3 {
                text-align: center; 
            }
        }
        section {
            @include grid-column(6);
        }
    }
}