.bidForm {
    @include grid-row();
    background-color: white;
    color: black;
    font-family: $primary-font;
    .error {
        background-color: red;
    }
    .header {
        @include grid-column(12);
        background-color: #3f99de;
        color: white; 
        font-family: $header-font;
        text-align: center; 

        img {
            width: 150px; 
        }
    }
    .textForm {
        margin-top: 20%;
        margin-bottom: 2%; 
        text-align: center;
    }

    .windows {
        display: inline-block; 
        margin-left: 22%; 

        .windowStart {
            @include grid-column(5); 
            // display: inline; 
            margin-top: 2%; 
            text-align: center;
            // display: inline-block;

            label {
                display: inline-block;
            }
        }

        .windowEnd {
            @include grid-column(5); 
            margin-top: 2%; 
            text-align: center;
        }
    }

    .day {
        @include grid-column(12); 
        margin-top: 2%; 
        margin-bottom: 2%; 
        text-align: center;
    }
    .courseSearch {
        text-align: center;
        margin-left: 20%; 

        .miles .loc {
            text-align: center;

        }
    }

    .golferNum {
        margin-left: 24%; 

        label {

        margin: 0px 10px 0px 10px;
        text-align: center;
        font-weight: bolder;
//         input {
//             padding: 10px;
//             border: none;
//             border-bottom: solid 2px white;
//             background: transparent;
//             color: white;
//             outline: none;
//             display: block;
//             margin: 0 auto;
        
        }

        #golfercount {
            width: 30%; 
            border: none; 

        }
    }

    .bidNum {
        text-align: center; 
    }



.buttons {
    text-align: center; 

    .bidBtn {
            color: white;
            font-weight: bolder;
            font-size: 1.2em;
            margin-top: 20px;
            border: 1px solid white;
            border-radius: 50px;
            width: 40%;
            text-align: center;
            height: 50px;
            font-family: $primary-font;
            background-color: #29c566;
            margin-bottom: 5%; 
        }

        .courseBtn {
            color: white;
            font-weight: bolder;
            font-size: 1.2em;
            margin-top: 20px;
            border: 1px solid white;
            border-radius: 50px;
            width: 40%;
            text-align: center;
            height: 50px;
            font-family: $primary-font;
            background-color: #29c566;
            margin-bottom: 5%; 
        }
    }

