.bidForm {
    @include grid-row();
    background-color: white;
    color: black;
    font-family: $primary-font;
    .error {
        background-color: red;
    }
    .header {
        @include grid-column(12);
        background-color: #3f99de;
        color: white; 
        font-family: $header-font;
        text-align: center; 

        img {
            width: 150px; 
        }

        // .appName {
        //     color: white;
        //     font-size: 2em; 
        //     font-family: $header-font;
        //     margin-top: 0;
        // }
    }
    .textForm {
        margin-top: 2%;
        margin-bottom: 2%; 
        text-align: center;
    }
    .windowStart {
        @include grid-column(12); 
        margin-top: 1%; 
        text-align: center;
    }
    .windowEnd {
        @include grid-column(12); 
        margin-top: 2%; 
        text-align: center;
    }
    .day {
        @include grid-column(12); 
        margin-top: 2%; 
        margin-bottom: 2%; 
        text-align: center;
    }
    .courseSearch {
        text-align: center;

        .miles {
            text-align: center;
        }
        .loc {
            text-align: center;
        }
    }
}