.bidForm {
    @include grid-row();
    background-color: white;
    color: black;
    font-family: $primary-font;
    .error {
        background-color: red;
        text-align: center;
        font-family: $header-font;
        vertical-align: middle;
    }
    .header {
        @include grid-column(12);
        background-color: #3f99de;
        color: white; 
        font-family: $header-font;
        text-align: center; 
        img {
            width: 150px; 
            margin-top: 10px;
        }
    }
    .textForm {
        text-align: center;
    }

    .windows {
        @include grid-row(); 
        div {
            margin-top: 20px;
        }

        .windowStart {
            @include grid-column(6); 
            text-align: right;
        }

        .windowEnd {
            @include grid-column(6); 
            text-align: left;
        }

        label {
            display: block;
            margin-right: 10px;
        }
    }

    .day {
        @include grid-column(12); 
        margin-top: 2%; 
        margin-bottom: 2%; 
        text-align: center;
        input {
                display: none;
            }
            div {
                height: 20px;
                width: 20px;
                display: inline-block;
                cursor: pointer;
                vertical-align: middle;
                background: #FFF;
                border: 1px solid #d2d2d2;
                border-radius: 100%;
            }
            input:checked + div {
                background: #29c566;
            }
            input + div:hover {
                border-color: gray;
            }
    }
    .courseSearch {
        text-align: center;
        input {
            border: none;
            border-bottom: 2px solid gray;
            outline: none;
            text-align: center;
        }
        .miles .loc {
            text-align: center;
        }
    }

    .golferNum {
        text-align: center;
        label {

        margin: 0px 10px 0px 10px;
        text-align: center;
        font-weight: bolder;
        }

        #golfercount {
            width: 150px;
            border: none; 

        }
    }

    .bidNum {
        text-align: center; 
        input {
            border: none;
            border-bottom: 2px solid gray;
            outline: none;
            text-align: center;
        }
    }



.buttons {
    text-align: center; 
    @include grid-column(12); 

    .bidBtn {
            display: block; 
            color: white;
            font-weight: bolder;
            font-size: 1.2em;
            margin-left: 20%; 
            margin-top: 20px;
            border: 1px solid white;
            border-radius: 50px;
            width: 60%;
            text-align: center;
            height: 50px;
            font-family: $primary-font;
            background-color: #29c566;
            margin-bottom: 2%; 
        }

        .courseBtn {
            margin-top: 20px;
        }
    }
}


@media (min-width: 769px) {

    .bidForm {
        @include grid-row(); 
        .windowStart {
            @include grid-column(6); 
            display: inline; 
            text-align: right;
            

            label {
                display: block;
            }
        }

        .windowEnd {
            @include grid-column(6);  
            text-align: left;
        }
    }

        .day {
            @include grid-column(12); 
            margin-top: 2%; 
            margin-bottom: 2%; 
            margin-left: 1%; 
            text-align: center;
        }

        .courseSearch {
            text-align: center;
            .miles .loc {
                text-align: center;
            }
        }
    }


