.location {
    div {
        margin: 0px 10px 0px 10px;
        text-align: center;
        font-weight: bolder;
        #locationSearch {
            padding: 10px;
            font-family: $primary-font;
            border: solid 2px white;
            outline: none;
            display: block;
            margin: 0 auto;
        }
    }
}