.location {
    div {
        margin: 0px 10px 0px 10px;
        text-align: center;
        font-weight: bolder;

        input {
            padding: 10px;
            border: none;
            border-bottom: solid 2px white;
            background: transparent;
            color: white;
            outline: none;
        }
        #searchLabel {
            font-weight: normal;
        }
    }
}