.mobileStyle {
    font-family: $primary-font;
    header {
        margin-top: 10px;
        padding: 0px;
        text-align: center;
        .logo {
            width: 150px;
        }
        h1 {
            display: inline-block;
            margin: 0;
            vertical-align: bottom;
        }
    }
    h2 {
        text-align: center;
    }
    footer {
        position: absolute;
        bottom: 0;
        height: 80px;
        background-color: #29c566;
        width: 100%;
        text-align: right;
        vertical-align: middle;
        border-top: 4px solid white;
        button {
            margin: 15px 5px 0px 0px;
            border: 2px solid white;
            border-radius: 5px;
            padding: 10px;
            color: white;
            font-family: $primary-font;
            font-weight: bolder;       
        }
    }
}