.mobile {
    background-color: #192bc2;
    header {
        margin: 20px 0px 40px 0px;
        text-align: center;
        color: white;
        img {
            width: 200px;
        }
        h1 {
            margin: 0;
            font-family: $header-font;
        }
        p {
            margin: 0;
            font-family: $primary-font;
        }
    }
    div {
        text-align: center;
        .bigBtn {
            color: white;
            font-weight: bolder;
            font-size: 1.2em;
            margin-top: 20px;
            border: 1px solid white;
            border-radius: 50px;
            width: 60%;
            text-align: center;
            height: 50px;
            font-family: $primary-font;
            background-color: #29c566;
            // background: linear-gradient(60deg, #1Be7ff 0%, #e4ff1a 25%, #ef558d 78%, #f8bc05 100%);
        }
    }
}