
.container {
    @include grid-row(); 

    .bidForm {
        @include grid-column(12); 
        // opacity: .8;
        // margin-top: 30px;
        // border: 1px solid black;
        background-color: white;
        color: black; 
        font-family: $primary-font;
    }

    .header {
    @include grid-column(12); 
    background-color: #194BFF;

    }
    .appName {
        
        // width: 100%; 
        // @include grid-column(12); 
        // background-color: #194BFF;
        color: white; 
        font-size: 2em; 
        font-family: $header-font;
        margin-top: 0; 
    }

    .textForm {
        // margin-top: 5%;
        margin-bottom: 5%; 
        text-align: center;
    }


    .windowStart {
        @include grid-column(12); 
        margin-top: 2%; 
        text-align: center;
    }

    .windowEnd {
        @include grid-column(12); 
        margin-top: 2%; 
        text-align: center;
    }

    .day {
        @include grid-column(12); 
        margin-top: 5%; 
        margin-bottom: 5%; 
        text-align: center; 
    }

    .courseSearch {
        text-align: center; 
        .miles {
            margin-bottom: 5%;
            text-align: center;
        }
        .loc {
            text-align: center;
        }
    }

        // .popular {
        //     @include grid-column(12); 
        //     border: 1px solid #194BFF; 
        //     background-color: #194BFF;
        //     position: fixed;
        //     bottom: 0px;
        //     height: 200px; 
        //     left:0px;

        //     ul{
        //         list-style: none;
        //     }
            
            // .courses {
            //     @include grid-column(3);
            //     border: 1px solid black;  
            //     background-color: white;
            //     margin-bottom: 20%; 
            
            // }
        //}

}

